#avaliacoes {
    min-height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#shape-feedback {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

#item-shape-feedback {
    height: 400px;
    width: 500px;
    border-radius: 80% 43% 62% 30%;
    background-color: #ff6100;
    position: relative;
}

#testimonials_content {
    flex: 1;
}

#btn-default-center {
    display: flex;
    justify-content: center;
}

#png-caminhao {
    position: absolute;
    left: 200px;
    height: 300px;
}

#png-maquina {
    position: absolute;
    top: -80px;
    left: -80px;
    height: 400px;
}

#feedback img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#feedback i{
    color: #ff6100;
}

.feedback-content {
    background-color: #222;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.feedback-content-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.feedback-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-info p {
    margin: 0;
    font-size: 1.2rem;
}

.feedback-content-header span {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.feedback-content-body {
    padding: 10px 0px 30px 0px;
}

.section-title {
    font-size: 1.8rem;
    color: #ff6100;
}

.section-subtitle {
    font-size: 2.2rem;
    padding: 10px 0px 30px 0px;
}

@media screen and (max-width: 1384px) {
    #avaliacoes {
        margin-top: 40px;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 742px) {
    #item-shape-feedback {
        height: 200px;
        width: 250px;
        border-radius: 80% 43% 62% 30%;
        background-color: #ff6100;
        position: relative;
    }
    
    #png-caminhao {
        position: absolute;
        left: 80px;
        height: 200px;
    }
    
    #png-maquina {
        position: absolute;
        top: -80px;
        left: -80px;
        height: 250px;
    }
}


@media screen and (max-width: 450px) {
    #item-shape-feedback {
        height: 175px;
        width: 200px;
        border-radius: 80% 43% 62% 30%;
        background-color: #ff6100;
        position: relative;
    }
    
    #png-caminhao {
        position: absolute;
        left: 50px;
        height: 150px;
    }
    
    #png-maquina {
        position: absolute;
        top: -40px;
        left: -60px;
        height: 200px;
    }
}