:root {
    --primary: #ff6100;
    --secondary: #333;
    --tertiary: #ffffff;
    --font-primary: 'Montserrat', sans-serif;
}
#sobre {
    padding: 0;
    gap: 48px;
    display: flex;
    flex-direction: column;
}

.sobre-padding {
    padding: 28px 4%;
}

.sobre-aboutUs h2 {
    color: var(--primary);
    font-size: 3rem;
}

#sobre p {
    font-size: 1.1rem;
    text-align: justify;
}

.sobre-commitment {
    text-align: center !important;
}

.sobre-commitment p{
    text-align: center !important;
}

.sobre-commitment h2{
    color: var(--primary);
    font-size: 2rem;
}

.commitment-icons {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.icon-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-item:hover {
    background-color: rgba(255, 255, 255, 0.212);
    transition: 0.8s ease-in-out;
}

.icon-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.icon-item h2 {
    font-size: 1.2rem;
    color: var(--white);
}

.box-solutions {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 28px;
}

.box-solutions h2 {
    font-size: 2.4rem;
    padding: 40px 0px;
    color: var(--primary);
}

.solutions-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.solutions-area-lines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.solutions-area-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.solutions-area-item:hover {
    background-color: rgba(255, 255, 255, 0.212);
    transition: 0.6s ease-in-out;
}

.solutions-area-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.solutions-area-item-text h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--primary);
}

.solutions-area-item-text p {
    font-size: 1rem;
    line-height: 1.5;
}

.locations h2 {
    text-align: center;
    font-size: 2.4rem;
    color: var(--primary);
}

.locations p {
    text-align: center !important;
    font-size: 1.2rem;
}

.locations ul {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none; /* Remove os marcadores padrão */
}

.locations li {
    font-size: 1.2rem;
    position: relative;
    padding-left: 25px; /* Espaçamento à esquerda para o marcador personalizado */
}

/* Personalização da "bola" do li */
.locations li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    border-radius: 50%; /* Torna o marcador redondo */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Efeito de sombra no marcador */
}


@media screen and (max-width: 400px) {
    .solutions-area-item {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 20px;
        max-width: 280px;
        flex: 1 1 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}