@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('home.css');
@import url('header.css');
@import url('info.css');
@import url('tecnology.css');
@import url('/src/style/alg/home-alg.css');
@import url('/src/style/alg/banco-de-dados.css');
@import url('/src/style/alg/eletronica.css');
@import url('/src/style/alg/redes.css');

:root {
    --primary: #6812f3;
    --secondary: #ffffff;
    --tertiary: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Bloqueia a rolagem horizontal */
}

body {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Garante que o corpo não tenha rolagem horizontal */
    overflow-y: auto; /* Permite a rolagem vertical se necessário */
}

section {
    padding: 28px 4%;
}

.div-padding {
    padding: 28px 4%;
}

.btn-default {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--secondary);
    font-size: 1rem !important;
    transition: 0.6s ease-in-out;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map h2 {
    color: var(--primary);
}

footer {
    margin-top: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--secondary);
}

#contato {
    height: 67.8vh;
}